
body {
    background-color: #BE8C63;
}

.home, .search, .new-note, .edit-note, .display-note {
    padding: 10% 15% 2% 15%;
}

.note-list {
    padding-top: 30px;
    padding-bottom: 30px;
}

.note-list-bullet {
    list-style: square inside;
}

.note-list-item {
    font-size: 20px;
}

.note-name {
    background-color: #E4D1B9;
    padding: 10px;
}

.display-content {
    margin-top: 10px;
    margin-bottom: 50px;
    min-height: 500px;
    border-style: dotted;
    border-color: black;
}